
    <div class="row">
        <div class="col-xs-12">
            <p class="heading">Add new server or blueprint</p>
            <label>Server Name</label>
            <input type="text" class="form-control" [(ngModel)]="server_name">
            <label>Server Content</label>
            <input type="text" class="form-control" [(ngModel)]="server_content">
            <br>
            <button class="btn btn-primary" (click)="Addserver()">Add Server</button>
            <button class="btn btn-primary"(click)="AddserverBlueprint()">Add Server Blueprint</button>
        </div>
    </div>
